/*Navigation bar*/

body{
  font-family: 'Quicksand', sans-serif;
}

a{
  text-decoration: none;
}


.navbarInnhold{
  width:100%;
}



li{
  list-style-type: none;
 
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
  background-color: #2C3E50;
  justify-content: space-between;
}

.logo{
  color: #FFF;
  font-weight: 900;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  margin-left: 5px;
  margin-right: 5px;
}

nav ul li a{
  color: #FFF;
  display: block;
  padding: 10px 20px;
  border-radius: 1px;
}

nav ul li a:hover{
  color: #DC7633;
}

.cta{
  background-color: #DC7633;
  color: #FFF;
}

.cta:hover{
  background-color: #D35400;
  color: #FFF;
}



/* Design av spørreskjema */

body {
    background-color: #e2e1e0;
  }
  ul {
    color: rgb(0, 0, 0);
    margin-left: 20px;
    font-family: 'Verdana', sans-serif;
    font-size: 15px;
    text-align: center;
    border-radius: 23px;
  
  }

  
  h1 {
    background-color: #2C3E50; font-size: 70px; color: black;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 46px;
    text-align: center;
    border-radius: 23px;
  
  }

  p { 
    color: rgb(0, 0, 0);
    text-decoration-color: rgb(51, 23, 54);  
    font-family: "Georgia", monospace, serif;
    font-size: 20px;
  }
  div.a {
    text-align: center;
    margin: 20px;
  }
  
label {
    color: rgb(0, 0, 0);
    font-family: "Courier New", monospace, serif;
    font-size: 14px;
} 
input[type=range]::-webkit-slider-runnable-track {
  color: blueviolet;
  }

.bekreft-knapp {
  background-color: rgb(114, 162, 218);
  color: white;
  border-radius: 3px;
  border-width: 1px;
  cursor: pointer;
}

.bekreft-knapp:hover {
  opacity: 0.7;
}
.bekreft-knapp:active {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
  
input[type=range]:hover {
  opacity: 0.6; 
}
input[type=range]:active {
  opacity: 1;
}