body{
background: #e2e1e0;
text-align: center;
font-family: monospace;

}
.kort{
    background: #1d2630;
    border-radius: 6px;
    display: inline-block;
    height: 470px;
    width: 375px;
    margin-top: 60px;
    box-shadow: 0 12px 13px rgba(0, 0, blue, 0.16);

}

.kortinnhold{
    display: flex;
    flex-direction: column;
    justify-content: center;}
.img{
    border-radius: 100%;
    margin-top: 60px;
    width: 132px;
    height: 128px;
    object-fit: cover;
}

.Navn
{
    color: #fff;
}

.title{
    color: #7c8097;
    font-size: 15px;
}


.btn{
    outline: none;
    background: #19a68c;
    margin-top: 20px;
    border: none;
    height: 40px;
    width: 35%;
    color: #fff;
    font-size: 19px;
    border-radius: 30px;
    align-self: center;
    justify-content: center;
    display: flex;
    align-items: center;
    text-decoration: none;

    
}

.btn:hover{
    color:#19a68c;
    background: #e2e1e0;
    transition: all 400ms linear;
    cursor: pointer;
}

/*Navigation bar*/
body{
  font-family: 'Quicksand', sans-serif;
 
}

a{
  text-decoration: none;
}

li{
  list-style-type: none;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 20px;
  background-color: #2C3E50;
  justify-content: space-between;
  border-radius: 10px;
}

.logo{
  color: #FFF;
  font-weight: 900;
}

nav ul{
  display: flex;
  flex-direction: row;
}

nav ul li{
  margin-left: 5px;
  margin-right: 5px;
}
nav ul li a{
  color: #FFF;
  display: block;
  padding: 10px 20px;
  border-radius: 5px;
}

nav ul li a:hover{
  color: #DC7633;
}

.cta{
  background-color: #DC7633;
  color: #FFF;
}

.cta:hover{
  background-color: #D35400;
  color: #FFF;
}